@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
  background-color: #00158a80;
  color: rgba(11, 27, 27, 0.9);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.container {
  width: 750px;
  margin: 10px auto;
}

p {
  margin-bottom: 20px;
}

.btn-blue {
  color: rgb(224, 224, 224);
  text-decoration: none;
  background-color: #00158a80;
  padding: 15px;
  border-radius: 5%;
}

.btn-blue:hover {
  background-color: #001aaca6;
  transition: .8s;
}

img {
  width: 250px;
  height: 250px;
  opacity: 1;
  object-fit: cover;
}

.img-circle {
  border-radius: 50%;
}

.card-white .list {
  list-style: none;
  padding-left: 0px;
}

ul li {
  display: inline;
}

.list a {
  font-size: 50px;
  padding: auto;
  text-align: center;
  word-spacing: 50px;
}

.cat {
  border-radius: 10%;
  object-position: 70% 30%;
}

.card-white {
  background-color: rgba(179, 250, 250, 0.4);
  padding: 40px;
  box-shadow: rgba(0, 255, 255, 0.295);
  border-radius: 10px;
  margin: 10px 0px;
  text-align: center;
}

.card-white li a {
  color: rgb(0, 0, 66);
  text-decoration: none;
}

.card-white li a:hover {
  color: rgb(183, 0, 255);
  transition: 1s;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
