
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200&display=swap');
@import "components/cards.scss";

body {
  background-image: url(/images/pexels-ovan-62693.jpg);
  font-family: 'BioRhyme', serif !important;
  font-size: 24px;
  font-weight: 500;
  scroll-behavior: smooth;
}

.nav-button-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.nav-buttons {
  flex-wrap: wrap;
}

.nav-button {
  padding: 0 16px;
  position: relative;
  font-size: 16px;
}


.container {
  width: 750px;
  margin: 10px auto;
}

p {
  margin-bottom: 20px;
}

.btn-blue {
  color: rgb(224, 224, 224);
  background-color: #333e7d80;
  padding: 10px;
  border-radius: 5%;
  text-decoration: none;
  width: fit-content;
}

.btn-blue:hover {
  background-color: #edededa6;
  color: #00158a80;
  transition: .8s;
  text-decoration: none;
}

img {
  width: 150px;
  height: 150px;
  opacity: 1;
  object-fit: cover;
}

.img-circle {
  border-radius: 50%;
}

.card-white .list {
  list-style: none;
  padding-left: 0px;
}

ul li {
  display: inline;
}

.list a {
  font-size: 50px;
  padding: auto;
  text-align: center;
  word-spacing: 50px;
}

.cat {
  border-radius: 10%;
  object-position: 70% 30%;
}

.card-white {
  padding: 40px;
  box-shadow: rgba(0, 255, 255, 0.295);
  border-radius: 10px;
  margin: 10px 0px;
  text-align: center;
}

.card-white li a {
  color: rgb(0, 0, 66);
  text-decoration: none;
}

.card-white li a:hover {
  color: rgb(183, 0, 255);
  transition: 1s;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
